@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* hanya geser setengah karena ada duplikat */
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
  width: max-content; /* biar sepanjang konten */
}

